<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 20%;padding-right: 20%;">
        <a class="navbar-brand mr-auto" href="index.html">Bilibili 屏蔽词分享平台</a>

        <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto" style="margin-left:2em">
                        <li class="nav-item">
                                <a class="nav-link" href="#">首页</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="user.html">用户屏蔽</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" v-if="notLogin" href="login.html">登录</a>
                                <span class="nav-link" v-else> UID {{uid}}</span>
                        </li>
                </ul>
        </div>
</nav>