<nav class="navbar navbar-inverse" style="padding: 0% 20%; margin-bottom:0">
        <a class="navbar-brand mr-auto" href="index.html">Bilibili 屏蔽词分享平台</a>
        <div class="navbar-form navbar-right">
                <div class="row">
                <a v-if="notLogin" href="login.html" style="color:#FFF;float:right; padding-top:6px;">登录</a>
                <p v-if="!notLogin" style="color:#FFF;float:right; padding-top:6px;"> UID {{uid}}</p>
                <a href="user.html" style="color:#FFF;float:right; margin-right:15px; padding-top:6px;">用户屏蔽</a>
                </div>
            </div>
      </nav>